@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

html, body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


a {
    color: unset;
    text-decoration: none;
}