* {
    font-family: 'Poppins', sans-serif;
}

.cta-btn {
    margin-left: 20px;
}

.nav-link {
    margin-left: 25px;
}

.login-btn {
    background: transparent !important;
    color: black;
}

.login-btn:hover {
    background: blueviolet !important;
    color: #fff;
}